# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.csv

# PCB Production files
PCB/Gerber/
PCB/production/backups/

# Firmware / modm
firmware/build/
firmware/src/modm/
firmware/src/SConstruct
firmware/src/.sconsign.dblite
firmware/src/hw-v?.xml.log
firmware/host-hw-config/modm
firmware/host-hw-config/.sconsign.dblite
firmware/host-hw-config/SConstruct
.vscode/settings.json
